.green_color{
    color: rgb(0, 255, 0);
}

.red_color{
    color: rgb(218, 7, 7);
}

.padidink30{
    margin-top: 30px;
    font-size: 110%;
}

.padidink150irred{
    color: rgb(218, 7, 7);
    margin-top: 30px;
    font-size: 150%;
}
